#version: "3"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db
    entrypoint: |
      sh -c "./wait-for-it.sh db:3306 -- \
        composer install && \
        php artisan key:generate || true && \
        php artisan storage:link && \
        php artisan migrate && \
        npm install && \
        npm run dev & \
        php artisan serve --host=0.0.0.0 --port=8000"
  db:
    image: mysql/mysql-server:8.0.23
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always
    container_name: db
    environment:
      MYSQL_DATABASE: rsbsa_db
      MYSQL_USER: root
      MYSQL_PASSWORD: "admin!234"
      MYSQL_ROOT_PASSWORD: "admin!234"
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  dbdata:
    driver: local