@import 'dropzone/dist/dropzone.css';
@import 'select2/dist/css/select2.min.css';
@import 'daterangepicker/daterangepicker.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/*** select2 css ***/
span#select2--container {
    line-height: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow { 
    top: 0.5rem !important; 
    right: 0.5rem !important;
}
span.select2-selection.select2-selection--single { height: auto; }
span.select2-selection__placeholder { font-size: 1rem; }
/*** select2 css ***/

#vtd .vtd-datepicker.static{
    position: fixed;
    width: auto;
}

.required {
    color: #ff0000;
}

.select2-selection.select2-selection--multiple {
    display: flex !important;
    flex-wrap: wrap !important;
}

.select2-selection.select2-selection--multiple .select2--container li{
    flex: 1 !important
}

.select2-selection.select2-selection--multiple .select2-search.select2-search--inline textarea{
    margin-bottom: 5px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    position: unset !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    padding: 0 !important
}

.nprogress-busy {
    z-index: 999999 !important;
}